# import des bibliotheques importantes

In [1]:
import pandas as pd
import numpy as np
from faker import Faker
from datetime import datetime, timedelta

# generation des noms fictifs avec Faker

In [2]:
# Initialisation de Faker pour générer des noms
fake = Faker()
names = [fake.first_name() for _ in range(5000)]

# Generation des ages

In [3]:
ages = np.random.randint(22, 60, size=5000)

# Generation des genres (Sexes)

In [14]:
# Liste des genres possibles
genres_values = ['Female', 'Male']

# Generation des salaires (multiples de 100)

In [15]:
# Création d'une liste de salaires multiples de 100
min_salary = 10000
max_salary = 1000000
step = 100
salaries_list = list(range(min_salary, max_salary + step, step))
salaries = np.random.choice(salaries_list, size=5000)
#salaries = np.random.randint(10000, 100000, size=5000)

# Generation des dates

In [16]:
# Fonction pour générer des dates aléatoires
def generate_random_date(start_date, end_date):
    delta = end_date - start_date
    days = np.random.randint(0, delta.days + 1)
    return start_date + timedelta(days=days)


join_dates = [generate_random_date(datetime(2000, 1, 1), datetime.now()) for _ in range(5000)]

# Creation d'un dataFrame avec les données generées

In [17]:
# Création du DataFrame
data = {
    'id': range(1, 5001),
    'name': names,
    'age': ages,
    'gender': np.random.choice(genres_values, size=5000),
    'salary': salaries,
    'join_date': join_dates
}

df = pd.DataFrame(data)

# Affichage du DataFrame

In [18]:
# Affichage des premières lignes du DataFrame
print(df.head())

   id      name  age  gender  salary  join_date
0   1   William   37  Female   48600 2021-07-24
1   2  Jonathan   48  Female  869900 2011-12-31
2   3      Mary   30  Female  474200 2001-01-03
3   4     Shari   56  Female   43900 2009-11-23
4   5   Lindsey   48    Male  981000 2011-10-27

# Sauvegarde du DataFrame dans un fichier excel

In [19]:
# Sauvegarde du DataFrame dans un fichier Excel
df.to_excel('dataset.xlsx', index=False)